
<h1><%= @question.title %></h1>
<p><%= @question.body %></p>
     
    
  <p> 
    <% if @question.resolved %>
      Resolved
    <% else %>
      Not resolved
    <% end %>
  </p>
      
  
<%= link_to "Edit the question", edit_question_path(@question), class: 'btn btn-success' %>
