<h1>New Summary</h1>
<%= form_for [@summary], url: topic_post_summaries_path(@topic, @post, @summary) do |f| %>
<%= f.label :description %>
<%= f.text_area :description %>
<%= f.submit "Save" %>
<% end %>