// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
<<<<<<< HEAD:app/assets/stylesheets/welcome.css.scss
h1
{
    color: red;
    
}
=======

 
>>>>>>> checkpoint29:app/assets/stylesheets/welcome.scss
